<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>American Odds</h3>
      <input [(ngModel)]="americanOdds" (input)="convertOdds()" type="number" class="form-control">
    </div>
    <div class="col-md-4">
      <h3>Decimal Odds</h3>
      <input [(ngModel)]="decimalOdds" (input)="convertOdds()" type="number" class="form-control">
    </div>
    <div class="col-md-4">
      <h3>Fractional Odds</h3>
      <input [(ngModel)]="fractionalOdds" (input)="convertOdds()" type="text" class="form-control">
    </div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="clearFields()">Clear Fields</button>
</div>
